.menu {
    background-color: var(--cor-fundo-component);
    padding: 1.875rem;
    border-radius: 0.5rem;
    width: 11.25rem;
    text-align: center;
    margin-right: 1.5rem;

    & a {
        display: block;
        padding-block: 1rem;
        border-bottom: 0.0625rem solid var(--cor-texto);

        &:first-of-type {
            padding-top: 0.3125rem;
        }

        &:last-of-type {
            border-bottom: none;
        }

        &.active {
            color: var(--cor-secundaria);
            border-bottom-color: var(--cor-secundaria);
            font-weight: 700;
        }
    }

    @media (max-width: 59.375rem) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}