.rodape {
    background-color: transparent;
    margin-top: 5rem;
    padding: 1rem 0;
}

.rodape__contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contato__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    width: fit-content;
}

.contato__link:hover {
    transform: scale(1.1);
}

.link__img {
    width: 3rem;
}